<article class="sidebar">
  <h1 class="sidebar-title">Filter your results by...</h1>
  <!-- <p class="sidebar-body">
    While you attend the conference, head over to our gallery where you can check out some of the
    work from our speakers.
  </p> -->

  <!--Accordion wrapper-->
  <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
    <!-- Accordion card -->
    <div class="card mb-3 shadow-sm rounded-3">
      <!-- Card header -->
      <div class="card-header skypurple" role="tab" id="headingOne1">
        <a
          data-toggle="collapse"
          data-parent="#accordionEx"
          href="#collapseOne1"
          aria-expanded="true"
          aria-controls="collapseOne1"
        >
          <h6 class="mb-0 text-black">
            Genre &nbsp;
            <i class="fas fa-angle-down rotate-icon"></i>
          </h6>
        </a>
      </div>

      <!-- Card body -->
      <div
        id="collapseOne1"
        class="collapse show"
        role="tabpanel"
        aria-labelledby="headingOne1"
        data-parent="#accordionEx"
      >
        <div class="card-body">
          <% for (let i = 0; i < genres.items.length; i++) { %>
          <div class="form-check">
            <input
              class="form-check-input genre_filter"
              type="checkbox"
              value="<%= genres.items[i] %>"
              id="<%= genres.items[i] %>"
            />
            <label class="form-check-label" for="flexCheckDefault">
              <%= genres.items[i] %>
              <span class="badge skyblue text-blue rounded-circle"><%= genres.val[i] %></span>
            </label>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card mb-3 shadow-sm rounded-3">
      <!-- Card header -->
      <div class="card-header skypurple" role="tab" id="headingTwo2">
        <a
          class="collapsed"
          data-toggle="collapse"
          data-parent="#accordionEx"
          href="#collapseTwo2"
          aria-expanded="true"
          aria-controls="collapseTwo2"
        >
          <h6 class="mb-0 text-black">
            Author(Korean) &nbsp; <i class="fas fa-angle-down rotate-icon"></i>
          </h6>
        </a>
      </div>

      <!-- Card body -->
      <div
        id="collapseTwo2"
        class="collapse show"
        role="tabpanel"
        aria-labelledby="headingTwo2"
        data-parent="#accordionEx"
      >
        <div class="card-body">
          <% for (let i = 0; i < author_krs.items.length; i++) { %>
          <div class="form-check">
            <input
              class="form-check-input author_kr_filter"
              type="checkbox"
              value="<%= author_krs.items[i] %>"
              id="<%= author_krs.items[i] %>"
            />
            <label class="form-check-label" for="flexCheckDefault">
              <%= author_krs.items[i] %>
              <span class="badge skyblue text-blue rounded-circle"><%= author_krs.val[i] %></span>
            </label>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card mb-3 shadow-sm rounded-3">
      <!-- Card header -->
      <div class="card-header skypurple" role="tab" id="headingThree3">
        <a
          class="collapsed"
          data-toggle="collapse"
          data-parent="#accordionEx"
          href="#collapseThree3"
          aria-expanded="true"
          aria-controls="collapseThree3"
        >
          <h6 class="mb-0 text-black">
            Translator &nbsp; <i class="fas fa-angle-down rotate-icon"></i>
          </h6>
        </a>
      </div>

      <!-- Card body -->
      <div
        id="collapseThree3"
        class="collapse show"
        role="tabpanel"
        aria-labelledby="headingThree3"
        data-parent="#accordionEx"
      >
        <div class="card-body">
          <% for (let i = 0; i < translators.items.length; i++) { %>
          <div class="form-check">
            <input
              class="form-check-input translator_filter"
              type="checkbox"
              value="<%= translators.items[i] %>"
              id="<%= translators.items[i] %>"
            />
            <label class="form-check-label" for="flexCheckDefault">
              <%= translators.items[i] %>
              <span class="badge skyblue text-blue rounded-circle"><%= translators.val[i] %></span>
            </label>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card mb-3 shadow-sm rounded-3">
      <!-- Card header -->
      <div class="card-header skypurple" role="tab" id="headingFour4">
        <a
          class="collapsed"
          data-toggle="collapse"
          data-parent="#accordionEx"
          href="#collapseFour4"
          aria-expanded="true"
          aria-controls="collapseFour4"
        >
          <h6 class="mb-0 text-black">Year &nbsp; <i class="fas fa-angle-down rotate-icon"></i></h6>
        </a>
      </div>

      <!-- Card body -->
      <div
        id="collapseThree3"
        class="collapse show"
        role="tabpanel"
        aria-labelledby="headingThree3"
        data-parent="#accordionEx"
      >
        <div class="card-body">
          <% for (let i = 0; i < years.items.length; i++) { %>
          <div class="form-check">
            <input
              class="form-check-input year_filter"
              type="checkbox"
              value="<%= years.items[i] %>"
              id="<%= years.items[i] %>"
            />
            <label class="form-check-label" for="flexCheckDefault">
              <%= years.items[i] %>
              <span class="badge skyblue text-blue rounded-circle"><%= years.val[i] %></span>
            </label>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <!-- Accordion card -->
  </div>
  <!-- Accordion wrapper -->
</article>
