<% if (locals.genre || locals.author_kr || locals.translator || locals.year) { %>
<div class="container py-2">
  <div
    class="
      col-12
      py-2
      rounded
      bg-white
      border-1
      shadow-sm
      d-flex
      align-items-center
      justify-content-start
    "
  >
    <span>
      <h5 class="badge light-green mr-1">
        <span class="align-middle"> Filter: </span>
      </h5>
    </span>
    <!-- genre start -->
    <% if (genre) { %> <% if (typeof genre == "string") { %>
    <span>
      <label
        class="badge badge-pill skypurple text-purple border-purple mr-1"
        id="breadcrumb_genre"
      >
        <span class="align-middle"> <%= genre %></span>
      </label>
    </span>
    <% } else {%> <% genre.forEach(function (item) { %>
    <span>
      <label
        class="badge badge-pill skypurple text-purple border-purple mr-1"
        id="breadcrumb_genre"
      >
        <span class="align-middle"> <%= item %></span>
      </label>
    </span>
    <% }) %> <% } %> <% } %>
    <!-- genre end -->
    <!-- author_kr start -->
    <% if (author_kr) { %> <% if (typeof author_kr == "string") { %>
    <span>
      <label
        class="badge badge-pill skypurple text-purple border-purple mr-1"
        id="breadcrumb_author_kr"
      >
        <span class="align-middle"> <%= author_kr %></span>
      </label>
    </span>
    <% } else {%> <% author_kr.forEach(function (item) { %>
    <span>
      <label
        class="badge badge-pill skypurple text-purple border-purple mr-1"
        id="breadcrumb_author_kr"
      >
        <span class="align-middle"> <%= item %></span>
      </label>
    </span>
    <% }) %> <% } %> <% } %>
    <!-- author_kr end -->
    <!-- translator start -->
    <% if (translator) { %> <% if (typeof translator == "string") { %>
    <span>
      <label
        class="badge badge-pill skypurple text-purple border-purple mr-1"
        id="breadcrumb_translator"
      >
        <span class="pb-2 align-middle"> <%= translator %></span>
      </label>
    </span>
    <% } else {%> <% translator.forEach(function (item) { %>
    <span>
      <label
        class="badge badge-pill skypurple text-purple border-purple mr-1"
        id="breadcrumb_translator"
      >
        <span class="pb-2 align-middle"> <%= item %></span>
      </label>
    </span>
    <% }) %> <% } %> <% } %>
    <!-- translator end -->
    <!-- year start -->
    <% if (year) { %> <% if (typeof year == "string") { %>
    <span>
      <label class="badge badge-pill skypurple text-purple border-purple mr-1" id="breadcrumb_year">
        <span class="pb-2 align-middle"> <%= year %></span>
      </label>
    </span>
    <% } else {%> <% year.forEach(function (item) { %>
    <span>
      <label class="badge badge-pill skypurple text-purple border-purple mr-1" id="breadcrumb_year">
        <span class="pb-2 align-middle"> <%= item %></span>
      </label>
    </span>
    <% }) %> <% } %> <% } %>
    <!-- year end -->
  </div>
</div>

<% } %>
