<div class="container mt-4">
  <div class="row">
    <div class="col-sm-8">
      <div class="container">
        <div class="row">
          <% if (keyword) { %>
          <h1 class="col-sm sidebar-title mx-n3">Keyword search: <b><%= keyword %></b></h1>
          <% } else {%>
          <h1 class="col-sm sidebar-title mx-n3">Keyword search: <b>None</b></h1>
          <% } %>
          <h1 class="col-sm sidebar-title mx-n3">Number of results: <%= books.length %></h1>
        </div>
        <%- include('./partials/advancedSearch') %>
      </div>
      <!-- filter section start-->
      <%- include('./partials/filterSection') %>
      <!-- filter section end -->
      <!-- sort by -->
      <div class="dropdown my-3">
        <button
          class="btn btn-sm dropdown-toggle rounded-pill skyblue text-blue font-badge border-blue"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <% if (sort_by) { %> Sort by: <%=sort_by%> <% } else {%> Sort by: None <% } %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" id="sort_by_title" href="<%= url %>&sort_by=work_title"
            >Work Title</a
          >
          <a class="dropdown-item" id="sort_by_sorce" href="<%= url %>&sort_by=book_journal_title"
            >Book/Journal Title</a
          >
          <a class="dropdown-item" id="sort_by_author" href="<%= url %>&sort_by=author">Author</a>
          <a class="dropdown-item" id="sort_by_author_kr" href="<%= url %>&sort_by=author_kr"
            >Author (Korean)</a
          >
          <a class="dropdown-item" id="sort_by_translator" href="<%= url %>&sort_by=translator"
            >Translator</a
          >
          <a class="dropdown-item" id="sort_by_publisher" href="<%= url %>&sort_by=publisher"
            >Publisher</a
          >
          <a class="dropdown-item" id="sort_by_year" href="<%= url %>&sort_by=year"
            >Published Year</a
          >
        </div>
      </div>

      <article class="speakerslist maincontent">
        <% books.forEach(function (book) {%>
        <div class="card shadow-sm mb-3 bg-white rounded-3 color-bar-left">
          <div class="card-body my-2">
            <h5>
              <% if (book.work_title) { %>
              <a
                class="text-gold modal_start_<%=book.id%>"
                data-toggle="modal"
                data-target="#modal_target_<%=book.id%>"
                href="#"
              >
                <%=book.work_title%>
              </a>
              <% } else {%>
              <a
                class="text-black modal_start_<%=book.id%>"
                data-toggle="modal"
                data-target="#modal_target_<%=book.id%>"
                href="#"
              >
                Work Title Not Available
              </a>
              <% } %>
            </h5>
            <h6 class="text-gray">
              <i class="bi bi-bookmarks"></i>&nbsp;&nbsp;<%=book.book_journal_title%>
            </h6>
            <h6 class="text-gray">
              <i class="bi bi-person-circle"></i>&nbsp;&nbsp;<%=book.author%> (
              <a class="text-gray" href="#"> <%=book.author_kr%> </a>)
            </h6>
            <h6 class="text-gray">
              <i class="bi bi-translate"></i>&nbsp;&nbsp;<%=book.translator%>
            </h6>
            <h6 class="text-gray">
              <i class="bi bi-tags"></i>&nbsp;&nbsp;<%=book.genre%> | <%=book.year%>
            </h6>
          </div>
        </div>

        <!-- Modal start -->
        <div
          class="modal fade"
          id="modal_target_<%=book.id%>"
          tabindex="-1"
          role="dialog"
          aria-labelledby="ModalLabel_<%=book.id%>"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel_<%=book.id%>">Literature Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <dl class="row">
                  <dt class="col-sm-4">Work Title</dt>
                  <dd class="col-sm-8"><%=book.work_title%></dd>

                  <dt class="col-sm-4">Author</dt>
                  <dd class="col-sm-8"><%=book.author%></dd>

                  <dt class="col-sm-4">Author (Korean)</dt>
                  <dd class="col-sm-8"><%=book.author_kr%></dd>

                  <dt class="col-sm-4">Book/Journal Title</dt>
                  <dd class="col-sm-8"><%=book.book_journal_title%></dd>

                  <dt class="col-sm-4">Genre</dt>
                  <dd class="col-sm-8"><%=book.genre%></dd>

                  <dt class="col-sm-4">Translator</dt>
                  <dd class="col-sm-8"><%=book.translator%></dd>

                  <dt class="col-sm-4">Publisher</dt>
                  <dd class="col-sm-8"><%=book.publisher%></dd>

                  <dt class="col-sm-4">Published Year</dt>
                  <dd class="col-sm-8"><%=book.year%></dd>
                </dl>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn skypurple rounded-pill border-1"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <!-- <button type="button" class="btn btn-primary">Copy</button> -->
              </div>
            </div>
          </div>
        </div>
        <!-- Modal end -->
        <%})%>
      </article>
    </div>
    <aside class="col-sm-4"><%- include('./partials/categories') %></aside>
  </div>
</div>
