<div class="container mt-4">
  <div class="row">
    <div class="col-sm-8">
      <div class="container">
        <div class="row">
          <% if (keyword) { %>
          <h1 class="col-sm sidebar-title mx-n3">Keyword search: <b><%= keyword %></b></h1>
          <% } else {%>
          <h1 class="col-sm sidebar-title mx-n3">Keyword search: <b>None</b></h1>
          <% } %>
          <h1 class="col-sm sidebar-title mx-n3">Number of results: <%= books.length %></h1>
        </div>
        <%- include('./partials/advancedSearch') %>
      </div>
      <!-- filter section start-->
      <%- include('./partials/filterSection') %>
      <!-- filter section end -->
      <!-- sort by -->
      <div class="dropdown my-3">
        <button
          class="btn btn-sm dropdown-toggle rounded-pill skyblue text-blue font-badge border-blue"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <% if (sort_by) { %> Sort by: <%=sort_by%> <% } else {%> Sort by: None <% } %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" id="sort_by_title" href="<%= url %>&sort_by=work_title">Title</a>
          <a class="dropdown-item" id="sort_by_sorce" href="<%= url %>&sort_by=source_title"
            >Source</a
          >
          <a class="dropdown-item" id="sort_by_author" href="<%= url %>&sort_by=author">Author</a>
          <a class="dropdown-item" id="sort_by_author_kr" href="<%= url %>&sort_by=author_kr"
            >Author (Korean)</a
          >
          <a class="dropdown-item" id="sort_by_translator" href="<%= url %>&sort_by=translator"
            >Translator</a
          >
          <a class="dropdown-item" id="sort_by_publisher" href="<%= url %>&sort_by=publisher"
            >Publisher</a
          >
          <a class="dropdown-item" id="sort_by_year" href="<%= url %>&sort_by=year"
            >Published Year</a
          >
        </div>
      </div>

      <article class="speakerslist maincontent">
        <% books.forEach(function (book) {%>
        <!-- <hr /> -->
        <div class="card shadow-sm mb-3 bg-white rounded-3">
          <div class="card-body my-2">
            <h5 class="text-black">
              <% if (book.work_title) { %>
              <a class="text-black" href="/search/details/<%=book.id%>"><%=book.work_title%></a>
              <% } else {%>
              <a class="text-black" href="/search/details/<%=book.id%>">Title Not Found</a>
              <% } %>
            </h5>
            <h6 class="text-gray">
              <i class="bi bi-bookmarks"></i>&nbsp;&nbsp;<%=book.source_title%>
            </h6>
            <h6 class="text-gray">
              <i class="bi bi-person-circle"></i>&nbsp;&nbsp;<%=book.author%> (
              <a class="text-gray" href="/author/<%=book.author_kr%>"> <%=book.author_kr%> </a>)
            </h6>
            <h6 class="text-gray">
              <i class="bi bi-tags"></i>&nbsp;&nbsp;<%=book.genre%> | <%=book.year%>
            </h6>
          </div>
        </div>
        <%})%>
      </article>
    </div>
    <aside class="col-sm-4"><%- include('./partials/categories') %></aside>
  </div>
</div>
