<!DOCTYPE html>
<html>
  <head>
    <title><%= siteName %> | <%= pageTitle %></title>
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    /> -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=block"
      rel="stylesheet"
    />
  </head>

  <body>
    <header><%- include('./partials/navigation') %></header>
    <main>
      <%- include(`../pages/${template}`) %> <%- include('./partials/scripts') %>
    </main>
    <footer class="footer sticky-bottom mt-auto pt-3">
      <div class="container">
        <img src="/images/W-Logo_White.png" alt="UW logo" height="60" />
        <span class="text-muted"></span>
          &nbsp; <img src="/images/Wordmark_center_white.png" alt="UW logo" height="15"
        /></span>
      </div>
    </footer>
  </body>
</html>
